*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 90px;
}

body{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 53, 53);
    perspective: 20em;
    perspective-origin: 77px 100px;
    position: relative;
}
.cube{
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    to{
        transform: rotateY(360deg);
    }
}

.shadow{
    position: absolute;
    background: white;
    width: 3em;
    height: 3em;
    transform: translateZ(-130px) translateX(30px) rotateZ(3deg) rotateX(90deg);
    bottom: -83.9px;
    left: 7.5em;
    box-shadow: 0 0 100px 50px rgb(12 235 38), 20px 120px 200px 10px green;
    filter: blur(90px);
}

.top, .bottom, .left, .right, .front, .back{
    height: 2em;
    width: 2em;
    background-color:rgb(26, 250, 93); 
    position: absolute;
    top: 0;
    bottom: 0; 
    box-shadow: 0 0 50px 10px rgb(100, 194, 194) inset;
}

p{
    font-size: large;
    text-align: center;
}

.box{
    margin-top: 25%;
    color: aliceblue;
}
.test{
    position: relative;
    bottom: 180px;
    color: aliceblue;
}

.front{
    transform: translateZ(1em);
}
.back{
    transform: translateZ(-1em);
}
.top{
    transform: translateY(-1em) rotateX(90deg);
}
.bottom{
    transform: translateY(1em) rotateX(90deg);
}

.right{
    transform: translateX(1em) rotateY(90deg);
}

.left{
    transform: translateX(-1em) rotateY(90deg);
}

@media screen and (max-width:900px) {
    .shadow {
        position: absolute;
        background: white;
        width: 3em;
        height: 3em;
        transform: translateZ(-130px) translateX(30px) rotateZ(3deg) rotateX(90deg);
        bottom: -83.9px;
        left: 0.5em;
        box-shadow: 0 0 100px 50px rgb(12 235 38), 20px 120px 200px 10px green;
        filter: blur(90px);
    }
}